show image here<br>
<a title="download here" href="/download_app_link">
  <img src="/download_app_image" alt="download here" />
</a>
<br><br>
user agent : <%= data.regUserAgent %><br>
sec-ua-full-version : <%= data.uaFullVersionList %><br>
sec-ch-ua-platform : <%= data.headerPlatform %><br>
process platform : <%= data.processPlatform %>
